<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929214866329-1sl900an0eee9emv874nku1ve47s109g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929214866329-1sl900an0eee9emv874nku1ve47s109g</string>
	<key>API_KEY</key>
	<string>AIzaSyApqgLgZ_CZ3fwf9CKSkT8pDiWCke7iJfE</string>
	<key>GCM_SENDER_ID</key>
	<string>929214866329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.undergroundStreet</string>
	<key>PROJECT_ID</key>
	<string>undergroundstreet-fc9a3</string>
	<key>STORAGE_BUCKET</key>
	<string>undergroundstreet-fc9a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929214866329:ios:e2b8a2057024f5e0f06908</string>
</dict>
</plist>